.mainPage {
    display: grid;
    grid-template-rows: 15% 75% 10%;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
    grid-template-areas:
        "header"
        "content"
        "footer";
}

.header {
    grid-area: header;
    background-color: #4a90e2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
}

.content {
    grid-area: content;
    padding: 2vw;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
}